.parallax {
	background-position: bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: cover;
	margin-bottom: 50px;
}
.grow { 
	transition: all .2s ease-in-out; 
}
	
.grow:hover { 
	transform: scale(1.1); 
}